# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summerized.

#### **Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List open source development environments for Data Science

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java powered
5. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. NumPy
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|JupyterLab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print('200 minutes have {} hours.'.format(200//60))

200 minutes have 3 hours.

## Author
Dagne